# Ignore full native directories and sensitive config files from Git
android/
ios/

# Firebase / Google Services files
google-services.json
ios/GoogleService-Info.plist
educonnected-19609-firebase-adminsdk-fbsvc-a4673a83cf.json

# App builds & secrets
*.apk
*.aab
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Local build outputs
dist/
web-build/
build-*.aab
build-*.apk

# Node dependencies
node_modules/

# Metro / debug / Expo stuff
.expo/
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
expo-env.d.ts

# macOS
.DS_Store

# Env
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Other project-specific ignores
app-example
my-keystore.jks
eas.json
